
<h1>Identification</h1>
<%= form_for @gossip, url: {action: "create"} do |gossip_form| %>
  <p><%= gossip_form.label :Anonymous_author %>:
  <%= gossip_form.text_field :anonymous_author %>
  <%= gossip_form.label :content %>:
  <%= gossip_form.text_field :content %>
  <%= gossip_form.submit "Create" %>
<% end %>
